@model RestaurantFinder.Models.TableSlotVm
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Create", "RestaurantSlot", FormMethod.Post, new { enctype = "multi restaurantTablesServicepart/form-data" }))
{
<div class="row">
    

    <table>
        @*@for (int i = 0; i < ViewBag.tables; i++)
        {

                <tr>
                    <th> AllSlot</th>
            <th>@Model.restaurantTable[i].TableName</th>


            </tr>


        }*@
        @for (int i = 0; i < ViewBag.slot; i++)
        {
            <tr>
                <td>  <input type="hidden" name="RestaurantSlotId" value="@Model.RestaurantSlot[i].ID" /></td>

                <td>@Model.RestaurantSlot[i].StartTime-@Model.RestaurantSlot[i].EndTime</td>


                <td>

                    @for (int j = 0; j < ViewBag.tables; j++)
                    {
                    <td><input type=checkbox name="TableId" value="@Model.restaurantTable[j].ID" /></td>
                }
                </tr>
            }
        
    </table>
    <div class="form-group text-right mb-0">
    <button class="btn btn-primary waves-effect waves-light mr-1" id="save" type="submit">
        Next
    </button>

</div>

</div>
}
<div id="imagetemplate" style="display:none">
    <img class='image img-fluid' src='' height="50px" width="50px" />
</div>
<!-- end row -->
@section scripts

    {

    <script>


    $("#Resturantpicture").change(function () {
        debugger;

        var Pictures = this.files;
        var PicsData = new FormData();
        for (var i = 0; i < Pictures.length; i++) {
            PicsData.append("Picture", Pictures[i]);
        }

        $.ajax(
            {
                url:"@Url.Action("UploadPicture","Picture")",
                type: "post",
                data: PicsData,
                dataType: "json",
                processData: false,
                contentType: false
            })
            .done(function (responses) {


                for (var i = 0; i < responses.length; i++) {
                    var picresponse = responses[i];
                    addnewimage(picresponse.Urlpic, picresponse.Id);

                    //var imgurl = "<img class='img-fluid' src='/Content/images/" + picresponse.Urlpic + "'/>";
                    // $newimagehtml = $("#imagetemplate").clone();
                    //$("#picturearea").append(imgurl); picid = picid + "," + picresponse.Id;
                }


        });
    });
    function addnewimage(url, id)

    {
        $newimagehtml = $("#imagetemplate").clone();
        $newimagehtml.find(".image").attr("src", "/Images/categories/" + url);
        $newimagehtml.find(".image").attr("data-id", id);

        $("#picturearea").append($newimagehtml.html());
        Removeimage()
    }
    function Removeimage()
    {
        $("#picturearea .image").click(function()
            {
            $(this).remove();
        });

    }
    </script>


}
