@model IEnumerable<RestaurantFinder.Models.RestaurantSlotMapping>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UniqueId)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.TableId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantSlotId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResturantID)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.TableId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantSlotId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResturantID)
            </td>
            <td>
            

                <a href="@Url.Action("Edit", "RestaurantTable", new { id = item.ID })" class="btn btn-danger">
                    <span class="fas fa-edit mr-2"></span>

                </a>
                |
                <a href="@Url.Action("Delete", "RestaurantTable", new { id = item.ID })" class="btn btn-danger">
                    <span class="fas fa-trash mr-2"></span>

                </a>
                |
                <a href="@Url.Action("Index", "RestaurantTable", new { id = item.ID })" class="btn btn-danger">
                    <span class="fas fa-list mr-2"></span>

                </a>



            </td>

        </tr>
    }
    
    </table>
</body>
</html>
